@import "utilities.css";
@import "container.css";

:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #606060;
}

body {
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 88%, 0 100%);
}
header nav .branding h3 {
  color: var(--primary);
  text-transform: uppercase;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
header nav .left a:hover {
  color: var(--primary);
}
header nav {
  padding: 2rem 0;
}
header nav .branding {
  margin-right: 3rem;
}
.hero {
  padding: 7rem 0 12rem 0;
}
.hero .left {
  object-fit: cover;
}
.hero .left img {
  width: 400px;
  height: 400px;
}
.hero .right {
  color: var(--pure);
}
.hero .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero .right h1 span {
  color: var(--primary);
}
.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}
section {
  padding: 6rem 0;
}

section.about .about-me-img {
  height: 450px;
  width: 420px;
}
section.about h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
section.about h1 span {
  color: var(--primary);
}
section.about h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
section.about p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.8;
  margin-bottom: 2rem;
}
section.about .social {
  display: flex;
}
section.about .social a {
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.6rem;
  text-decoration: none;
  color: var(--pure);
  transition: all 0.3s ease;
}
section.about .social a:hover {
  background: var(--primary);
}
section.about .social a .fa {
  font-size: 20px;
}
section.services {
  background: var(--light);
}
.section-heading {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}
.section-heading span {
  color: var(--primary);
}
.section-heading + p {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 8rem;
  text-align: center;
}
section.services .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}

section.services .card-wrapper .card {
  background: var(--pure);
  padding: 3rem 2rem;
  position: relative;
  padding-top: 6rem;
  text-align: center;
  transition: all 0.5s ease;
}
section.services .card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.6;
}
section.services .card-wrapper .card .fa {
  width: 50%;
  height: 50%;
  background-color: rebeccapurple;
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: var(--pure);
}

section.services .card-wrapper .card:hover {
  background: var(--dark);
}
section.services .card-wrapper .card:hover h2,
section.services .card-wrapper .card:hover p {
  color: var(--pure);
}

section.freelancer {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../image/69.jpeg);
  color: var(--pure);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20rem;
  object-fit: cover;
}
section.freelancer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
section.freelancer p {
  margin-bottom: 5rem;
  font-family: "Lato", sans-serif;
}
section.reviews .slider .slide img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}
section.reviews .slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 15rem;
  background-color: #ff0;
  border-style: none;
  outline: none;
}
section.reviews .slider .slide p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  margin-bottom: 3rem;
}
section.reviews .slider .slide span {
  font-size: 1rem;
}
section.reviews .slider-dots .dots {
  list-style: none;
  display: flex !important;
  justify-content: center;
}
section.reviews .slider-dots {
  margin-top: 3rem;
}
section.reviews .slider-dots button {
  font-size: 0;
  width: 10px;
  height: 8px;
  margin-right: 0.3rem;
  border-style: none;
  outline: none;
  background: var(--ternary);
  border-radius: 50px;
  cursor: pointer;
}
section.reviews .dots li.slick-active button {
  background: var(--primary);
  width: 23px;
}
section.work {
  background: var(--light);
}
section.work .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
section.work .card-wrapper .card img {
  width: 100%;
  height: 100%;
}
section.work .card-wrapper .card {
  position: relative;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}
section.work .card-wrapper .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 287, 211, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--dark);
  opacity: 0;
  transition: all 1s ease;
}
section.work .card-wrapper .card:hover .overlay {
  opacity: 1;
  transform: scale(1.6);
}
section.work .card-wrapper .card .overlay a {
  color: #ff0;
  text-decoration: none;
  margin-top: 2rem;
}

section.blog {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
  padding-bottom: 16rem;
}
section.blog .section-heading {
  color: var(--pure);
}
section.blog .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
section.blog .card-wrapper .card {
  background: var(--pure);
}
section.blog .card-wrapper .card .img-wrapper img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
section.blog .card-wrapper .card .card-content {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1 {
  font-size: 1rem;
  font-weight: 600;
}
section.blog .card-wrapper .card .card-content a {
  color: var(--secondary);
  text-decoration: none;
}
section.blog .card-wrapper .card .card-content a:hover {
  color: var(--primary);
}

section.blog .card-wrapper .card .card-content span {
  color: var(--ternary);
  font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a.read-more {
  font-size: 0.8rem;
}

section.contact .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
section.contact .card-wrapper .card {
  text-align: center;
}
section.contact .card-wrapper .card .fa {
  margin-bottom: 1.5rem;
  font-size: 4rem;
}
section.contact .card-wrapper .card h2 {
  font-weight: 400;
  margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6 {
  font-size: 1rem;
  color: var(--ternary);
  font-weight: 400;
  margin-bottom: 4rem;
}
section.contact .input-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
section.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
}
section.contact .input-wrap-2 input {
  margin-bottom: 2rem;
}
section.contact .input-wrap-2 textarea {
  padding: 0.5rem;
  border: 2px solid #ccc;
  outline: none;
  font-size: 0.9rem;
}
section.contact input {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 2px solid #ccc;
  outline: none;
}
section.contact .btn-wrapper {
  text-align: center;
  margin-top: 2rem;
}
footer {
  background: var(--dark);
  text-align: center;
  padding: 6rem 0;
}
footer .footer-socials a {
  margin-right: 2rem;
}
footer .footer-socials a .fa {
  font-size: 2rem;
  color: var(--pure);
  transition: all 1s ease;
}
footer .footer-socials a .fa:hover {
  color: var(--primary);
}

.site-main-wrapper {
  position: relative;
}
.site-main-wrapper .fa-bars {
  position: absolute;
  top: 35px;
  right: 50px;
  display: none;
  font-size: 2rem;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  background: var(--primary);
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 5rem;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.open {
  transform: translateX(0);
}
.fa-times {
  position: fixed;
  top: 30px;
  right: 30px;
  font: size 2rem;
  cursor: pointer;
}
.mobile-nav ul {
  list-style: none;
  text-align: center;
  margin-top: 3rem;
}
.mobile-nav ul li {
  text-transform: uppercase;
  transition: all 0.5s ease;
  padding: 2rem 0;

  border-radius: 5px;
}
.mobile-nav ul li:hover {
  background: #ff0;
}
.mobile-nav ul li:hover a {
  color: #000;
}
.mobile-nav ul li a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  header #main-nav {
    display: none;
  }
  .site-main-wrapper .fa-bars {
    display: block;
    z-index: 11;
    color: var(--pure);
  }
  .hero .left img {
    width: 260px;
    height: 363px;
  }
  .hero .right h1 {
    font-size: 3rem;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
  }
  section.about .about-me-img {
    height: 372px;
    width: 331px;
  }
  .flex-1 {
    flex: 1;
    margin-right: 30px;
  }
  section.about h1 {
    font-size: 2rem;
  }
  section.services .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  section.freelancer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 89%, 0 100%);
    padding-bottom: 13rem;
  }
  section.reviews .slider .slide img {
    width: 130px;
    height: 130px;
  }
  section.reviews .slider .slide p {
    font-size: 1.5rem;
  }
  section.reviews .slider .slide {
    padding: 6rem 9rem;
  }
  section.work .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  section.blog .card-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }
  section.blog .card-wrapper .card {
    margin: 0 36px;
    padding: 50px 2rem;
  }
  section.blog .card-wrapper .card .card-content a {
    font-size: 2rem;
  }
  section.blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 97%, 0 100%);
    padding-bottom: 20rem;
  }
}

@media (max-width: 576px) {
  .hero {
    flex-direction: column;
    position: relative;
    padding: 6rem 0 7rem 0;
  }
  .hero .right {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 46px;
    padding-bottom: 51px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  }
  .flex-1 {
    margin-right: 5px;
    margin-top: -1rem;
    padding: 0px 1rem;
    margin-bottom: -1rem;
  }
  .blog .img-wrapper {
    height: 300px;
  }
  .hero .left img {
    width: 377px;

    height: 448px;
  }
  .hero .right div {
    text-align: center;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 95%, 0 100%);
  }
  .hero {
    padding: 7rem 0 9rem 0;
  }
  .container {
    flex-direction: column;
  }
  section.about .about-me-img {
    width: 350px;
  }
  section.about .flex-1 {
    text-align: center;
  }
  section {
    padding: 4rem 0;
  }
  .site-main-wrapper .fa-bars {
    right: 32px;
  }
  section.services .card-wrapper {
    grid-template-columns: 1fr;
  }
  section.freelancer {
    padding-bottom: 13rem;
  }
  section.about .social {
    justify-content: center;
  }
  section.reviews .slider .slide {
    padding: 3rem 1rem;
  }
  section.work .card-wrapper {
    grid-template-columns: 1fr;
  }
  section.blog .card-wrapper .card {
    margin: 0 5px;
    padding: 29px 1rem;
  }
  section.blog .card-wrapper .card .card-content {
    padding-left: 0rem;
    padding-right: 1rem;
  }
  section.blog {
    padding-bottom: 6rem;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 98%, 0 100%);
  }
  section.contact .card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  section.contact .input-wrap {
    grid-template-columns: 1fr;
  }
  section.about h1 {
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 6rem 0 9rem 0;
  }
  .hero .right {
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 4rem;
    padding-right: 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  .hero .left img {
    height: 520px;
  }
}
